/* 
Style Map by Component
4. Portfolios
5. Media Queries 
*/
/* 4. PORTFOLIO COMPONENT
=================================
*/

.port-heading {
    font-size: 2.5rem;
    margin: 3rem 0 3rem 2rem;
}

@keyframes auto-scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(calc(-25% * 11));
    }
}

.carousel-container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: hidden;
    width: 100%;
    height: 200px;
    /* margin: 10px; */
}

.carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    animation: auto-scroll 40s linear infinite;
    /* transition: transform 5s ease-in-out; */
}

.carousel-wrapper>div {
    flex: 0 0 25%;
}

.lang-icon {
    width: 150px;
    height: 150px;
    margin: 0 -20px;
    border-radius: 10px;
}

.portfolio-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.portfolio-project p,
.portfolio-project-active p,
.portfolio-project-active h3,
.portfolio-project h3,
.portfolio-project p,
.portfolio-project a,
.portfolio-project-active a {
    color: black !important;
}

.portfolio-project a:active,
.portfolio-project-active a:active {
    color: purple !important;
}

.portfolio-project {
    background-color: hsla(0, 0%, 100%, .8);
    color: black !important;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px none;
    transition: box-shadow ease-in-out .5s;
    flex: 0 1 400px;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    /* min-width: 400px !important; */
}

.portfolio-project-active {
    background-color: white;
    color: black !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 0 1 400px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: -6px 12px 0px 3px black;
    transition: box-shadow .5s ease-in-out;
    margin-bottom: 2rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 60%;
    max-height: 60%;
    filter: grayscale(100%);
    transition: filter ease-in-out .3s;
}

.image-container h3 {
    width: auto;
}

.active-img {
    max-width: 60%;
    max-height: 60%;
    filter: grayscale(0%) !important;
    transition: filter ease-in .3s;
}

.description-container p:not(:last-child) {
    margin-bottom: 1rem;
}

.proj-card-text {
    font-size: 1.5rem;
}

.proj-card-text a {
    font-size: 1.2rem;
    text-decoration: underline;
}

.module-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.module {
    flex: 0 1 auto;
}

/* 5. PORTFOLIO COMPONENT
=================================
*/

#resume-container {
    margin-top: 5rem;
    margin-left: 2rem;
    width: 90%;
}

.resume-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.position {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.responsibilities li {
    list-style: square;
    margin-left: 2.5rem
}

.responsibilities li:not(:last-child) {
    margin-bottom: 1rem;
}

.school {
    margin-bottom: 1rem;
    font-weight: bold;
}