/******** When Screen Maximizes **********/

@media only screen and (min-width: 815px) {

    #project-categories {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .portfolios {
        border: 3px solid hsla(0, 0%, 100%, .8);
        display: inline-block;
        margin: 0 1em;
        border-radius: 15px;
        /* margin: 0 10px; */
        padding: .5em 1em;
        text-align: center;
        width: 250px;
    }
}

@media only screen and (min-Width: 1600px) {

    #project-categories {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .portfolios {
        border: 3px solid hsla(0, 0%, 100%, .8);
        display: inline-block;
        margin: 0 1em;
        border-radius: 15px;
        /* margin: 0 10px; */
        padding: .5em 1em;
        text-align: center;
    }
}

/******* Category shift only **********/
@media only screen and (max-width: 1360px) {
    #about {
        width: 550px;
        margin-right: 3em;
        padding: 2em;
        border: 3px white solid;
        border-radius: 15px;
        /* box-shadow: 0px 2px 3px  white; */
        font-size: 14pt;
    }

    #project-categories {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .portfolios {
        border: 3px solid hsla(0, 0%, 100%, .8);
        display: block;
        margin: 1em 1em 0 1em;
        border-radius: 15px;
        text-align: center;
    }

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Control Home Component when Screen widens  */
@media only screen and (max-width: 1099px) {
    #home-body {
        width: max-content;
        margin: 0 auto;
    }

    #home-container {
        clear: right;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about {
        /* width: 550px; */
        margin-right: 3em;
        padding: 2em;
        border: 3px white solid;
        border-radius: 15px;
        /* box-shadow: 0px 2px 3px  white; */
        font-size: 14pt;
    }

    #project-categories {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolios {
        border: 3px solid hsla(0, 0%, 100%, .8);
        margin: 1em 0 0 0;
        border-radius: 15px;
        text-align: center;
        width: 87%;
    }

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/******** For mobile devices ********/

@media only screen and (max-width: 450px) {
    html {
        font-size: 14px;
    }

    .header {
        max-width: 390px;
        /* return ^^ */
        background-color: hsla(160, 86%, 45%, .6);
        margin-bottom: 3rem;
        padding: 1rem;
    }

    .hamburger {
        border: 4px solid rgba(255, 255, 255, 0.5);
        width: fit-content;
        height: fit-content;
        padding: .4em;
        border-radius: 10px;
        margin: 1em 1em 5em 0;
        position: fixed;
        top: 0px;
    }

    .span-nav {
        border-top: solid 4px white;
        border-radius: 5px;
        display: block;
        width: 25px;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        padding: 1rem 0;
    }

    h3 {
        text-align: center;
    }

    #home-container {
        clear: right;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: -1rem;
    }

    #home-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    #profile-img img {
        width: 275px;
        height: 275px;
        padding: 0;
        margin: 0;
    }

    #about {
        margin: 0 auto;
        width: 375px;
        text-align: left;
        border: none
    }

    .contact-me {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #project-categories {
        display: flex;
        flex-direction: column;
        width: 375px;
        flex: 0 1 200px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 2rem;
    }

    .portfolios span {
        font-size: 2rem;
    }


    @keyframes auto-scroll {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(calc(-25% * 11));
        }
    }

    .carousel-container {
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow: hidden;
        width: 100%;
        height: 200px;
        /* margin: 10px; */
    }

    .carousel-wrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        animation: auto-scroll 25s linear infinite;
        /* transition: transform 5s ease-in-out; */
    }

    .carousel-wrapper>div {
        flex: 0 0 50%;
    }

    .lang-icon {
        width: 125px;
        height: 125px;
        margin: 0 -20px;
        border-radius: 10px;
    }

    .portfolio-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        flex: 0 1 auto;
    }

    .portfolio-project {
        background-color: hsla(0, 0%, 100%, .8);
        color: black !important;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        flex: 0 1 350px;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
        /* min-width: 400px !important; */
    }
    
    .portfolio-project-active {
        background-color: white;
        color: black !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        flex: 0 1 375px;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    
    .responsibilities li {
        list-style: none;
        margin-left: -1rem
    }
    #footer {
        width: 100%;
        padding: 5px 0;
        margin-top: 100px;
    }

    #footer p {
        text-align: center;
    }
}